/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,500,600,700');
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a{color:#282828}
a:hover{color: #ED552C;text-decoration: none;}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
.no-padding{padding:0}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
a {-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;text-decoration:none;}
a:active, a:hover {
  outline: 0 none;
}
::-webkit-input-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
:-moz-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
::-moz-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
:-ms-input-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {font-family: 'Montserrat', sans-serif;}
a:focus, a:hover {text-decoration: none;}
.mt-2{margin-top: 2px}
.mt-10{margin-top: 10px}
.mt-20{margin-top: 20px}
.mt-25{margin-top: 25px}
.mt-30{margin-top: 30px}
.mt-40{margin-top: 40px}
.mt-50{margin-top: 50px}
.mt-70{margin-top: 70px}
.mt-90{margin-top: 90px}
.mr-25{margin-right: 25px}
.mb-10{margin-bottom: 10px}
.mb-15{margin-bottom: 15px}
.mb-20{margin-bottom: 20px}
.mb-25{margin-bottom: 25px}
.mb-30{margin-bottom: 30px}
.mb-35{margin-bottom: 35px}
.mb-45{margin-bottom: 45px}
.mb-48{margin-bottom: 48px}
.mb-50{margin-bottom: 50px}
.mb-90{margin-bottom: 90px}
.mtb-25{margin: 25px 0}
.pt-10{padding-top: 10px}
.pt-30{padding-top: 30px}
.pt-90{padding-top: 90px}
.pt-50{padding-top: 50px}
.pt-100{padding-top: 100px}
.ptb-100{padding: 100px 0}
.pt-140{padding-top: 140px}
.pl-8{padding-left: 8px}
.pl-70{padding-left: 70px}
.pr-8{padding-right: 8px}
.pr-16{padding-right: 16px}
.pb-15{padding-bottom: 15px}
.pb-30{padding-bottom: 30px}
.pb-45{padding-bottom: 45px}
.pb-50{padding-bottom: 50px}
.pb-60{padding-bottom: 60px}
.pb-75{padding-bottom: 75px}
.ptb-10{padding: 10px 0}
.ptb-35{padding: 35px 0}
.ptb-40{padding: 40px 0}
.ptb-60{padding: 60px 0}
.ptb-90{padding: 90px 0}
.ptb-110{padding: 110px 0}
.ptb-130{padding: 130px 0}
.ptb-25{padding: 25px 0}
.ptb-220{padding: 220px 0}
.plr-40{padding: 0 40px}
.plr-70{padding: 0 70px}
.pt-35{padding-top: 35px}

/*----------------------------------------*/
/*  2.  Webfont CSS
/*----------------------------------------*/
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/webfont/montserrat-light-webfont.eot');
    src: url('fonts/webfont/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfont/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/webfont/montserrat-light-webfont.woff') format('woff'),
         url('fonts/webfont/montserrat-light-webfont.ttf') format('truetype'),
         url('fonts/webfont/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemi_bold';
    src: url('fonts/webfont/montserrat-semibold-webfont.eot');
    src: url('fonts/webfont/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/webfont/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/webfont/montserrat-semibold-webfont.woff') format('woff'),
         url('fonts/webfont/montserrat-semibold-webfont.ttf') format('truetype'),
         url('fonts/webfont/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mobile-menu-area {
    display: none;
    background: #EC552C none repeat scroll 0 0;
}
.mean-container .mean-bar:after {
    display: none;
}
.mean-container .mean-nav ul li a:hover {
    color: #EC552C;
    background: none;
}
.mean-container a.meanmenu-reveal span {
    background: #fff;
}
.mean-container .mean-nav ul li a {
    background: #fff;
    color: #303030;
    display: block;
}
.mean-container .mean-nav ul li a.mean-expand {
    background: none;
    top: -4px;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
    background: none;
}
.mean-container .mean-nav ul li {
    background: #fff;
}
.mean-container .mean-nav ul li li a {
    color: #303030;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    border-top: 0;
}
.mean-container a.meanmenu-reveal {
    color: #444;
}
.meanmenu-reveal.meanclose:hover {
    color: #303030 !important;
}
.mean-container a.meanmenu-reveal:hover span {
    background: #303030;
}
.mobile-menu-area .mean-nav {
    background: #EC552C none repeat scroll 0 0;
}
.mean-last {
    margin-bottom: 20px;
}
.mobile-menu {
    position: relative;
}
.mean-container .mean-bar:before {
    color: #ffffff;
    content: "MENU";
    font-size: 18px;
    font-weight: 600;
    left: 10px;
    position: absolute;
    top: 10px;
}

.as-mainwrapper {
    position: relative;
  }

.bg-white {
   background-color: #fff;
 }
  
.header-area {
   box-shadow: 0 2px 2px #d2d0d0;
}


.section-button {
    background: #ec552c none repeat scroll 0 0;
    border-bottom: medium none;
    border-radius: 20px;
    color: #ffffff;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 12.8px;
    font-weight: 700;
    padding: 7px 18px;
    text-transform: uppercase;
    border: none;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.info-text > p {
    color: #282828;
    font-size: 12px;
    font-family: 'montserratlight';
}

.top-login {
    position: relative;
    text-align: right;
}

.top-login ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-login ul li{
    display: inline-block;
    position: relative;
}

.top-login > ul > li:first-child > a {
    padding-left:0px;
}

.top-login  > ul > li > a{
    display: block;
    color: #A6A6A6;
    font-size: 14px;
    padding-right: 22px;
    transition: all 0.5s ease 0s;
}

.top-login  > ul > li > a:hover{color: tomato;}

.top-login ul li ul.submenu-mainmenu {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    width: 225px;
    top: 21px;
    right: 0;
    left: auto;
}

.top-login > ul > li > ul.submenu-mainmenu{
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 12px 0;
    position: absolute;
    text-align: left;
    opacity: 0;
    top: 100%;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: all 0.6s ease 0s;
    width: 138px;
    z-index: -99;
    border: 1px solid #C5C5C5;
}

.top-login ul li ul.submenu-mainmenu li{
    width: 220px;
    padding: 10px 20px;
}

.top-login ul li:hover ul.submenu-mainmenu{
    opacity: 1;
    transform: scaleY(1);
    z-index: 9999;
}

.submenu-mainmenu a {
    color: #a6a6a6;
    display: block;
    font-size: 12px;
}
.submenu-mainmenu a:hover{color: tomato;}
.submenu-mainmenu li a i {
    font-size: 8px;
    margin-right: 10px;
    vertical-align: middle;
}

.top-login > ul > li:last-child > a{
    padding-right: 0px;
}

.top-login ul li img{
    margin-right: 4px;
    margin-top: -9px;
}
.mainmenu-area {
    position: relative;
    margin: auto;
    z-index: 99;
    text-align: right;
}

.mainmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu ul li{
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mainmenu > ul > li > a{
    color: #000;
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 12px 18px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mainmenu ul > li:first-child > a{
    padding-left: 0px;
}

.mainmenu ul > li:last-child > a{
    padding-right: 0px;
}

.off-banner-area{
    background-image: url(img/off-banner/111.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.single-off-banner{
    position: relative;
    float: left;
    width: 33.3333%;
    height: 180px;
}

.off-text1 {
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    z-index: 9;
}

.off-text2 {
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    z-index: 9;
}

.off-text3 {
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    z-index: 9;
}

.single-off-banner a.section-button{
    margin-top: 20px;
    padding: 5px 18px;
}

.login-register-area{
    background-image: url(img/banner/bgd.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.login-register-area:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 73, 73, 0.404);
    content: "";
}

.introduction-area{
    position: relative;
}

.introduction-area:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.7);
    content: "";
}

.introduction-area-top{
    position:relative;
    z-index: 99;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.introduction-area-top h1 {
    color: #ffffff;
    font-family: "montserratlight";
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 25px;
}
.introduction-area-top p {
    color: #ffffff;
    font-family: "montserratlight";
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 25px;
}

.single-service-icon-wrapper{
    display: inline-table;
    margin-bottom: 15px;
}

.single-service-info h4{
    margin-bottom: 0;
    font-size: 22px;
    color: #282828;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.single-service-info p{
    font-size: 14px;
    color: #282828;
    font-family: 'montserratlight';
    margin-bottom: 0;
}

.footer-middle-area{
    background: #252525;
    height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-widget h5 {
    color: #ec552c;
    font-family: "montserratsemi_bold";
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.footer-widget h5:after{
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    background: #ec552c;
    bottom: 0;
    left:0;  
}

.footer-icon {
    float: left;
    margin-top: 5px;
    color: #ec552c;
    font-size: 20px;
}

.footer-contact-info{
    display: block;
    margin-left: 30px;
}

.footer-contact-info p{
    margin: 0px;
    font-size: 12px;
    color: #ddd;
    font-family: 'montserratlight';
    line-height: 20px;
}

.footer-bottom-area{
    background: #000000;
}

.copyright p{
    font-size: 13px;
    color: #ddd;
    font-family: 'montserratlight';
    margin: 0;
    padding: 10px 0px;
}

.social-icon ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icon ul li{
    display: inline-block;
    margin-right: 15px;
}

.social-icon ul li a{
    display: block;
    color: #000000;
    height: 36px;
    width: 36px;
    border: 1px solid #000000;
    background: #000000;
    text-align: center;
    font-size: 18px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.social-icon ul li a i{
    line-height: 34px;
}

.login-form{
    border: solid;
    border-color: #8d8d8d69;
    position: relative;
    max-width: 1000px;
    height: 340px;
    padding: 30px;
    border-width: 1px;
    margin: auto;
}

.login-form-title{
    float: left;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
}

.input-box{
    position: relative;
    clear: left;
    margin: auto;
}

.left-login{
    width: 400px;
    height: 250px;
    float: left;
}

.right-login{
    margin-left: 467px;
    height: 200px;
    text-align: center;
}

.bootstrap-frm {
	margin-right:auto;
	max-width: 400px;
	background: #FFF;
	padding: 20px 30px 20px 30px;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border:1px solid #DDD;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.bootstrap-frm label {
	display: block;
    margin: 0px 0px 5px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea{
	border: 1px solid#CCC;
	color:#888;
	height: 20px;
	line-height:15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 5px 0px 5px 5px;
	width: 70%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm textarea{
	height:100px;
	padding: 5px 0px 0px 5px;
	width: 70%;
}
.login-button {
	background: rgb(0, 0, 0);
	border:1px solid rgb(0, 0, 0);
	padding: 10px 25px 10px 25px;
	color: rgb(255, 255, 255);
    border-radius: 4px;
}

.browse-button{
    background-color: orangered;
    color: white;
    border: 1px solid #ec552c;
    border-radius:30px 30px 30px 30px;
    width: 120px;
    height: 25px;
}

.time-distance{
    position: relative;
}

.time-distance > span {
    float: left;
    color: #444;
    display: inline-block;
    font-family: "montserratlight";
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 18px;
    margin-right: 150px;
}

.banner-area{
    background-image: url(img/off-banner/111.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    z-index: 9;
    position: relative;
}

.banner-title h2{
    color: #fefefe;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.breadcrumbs ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li, .breadcrumbs ul li a{
    display: inline-block;
    color: #ed552c;
    font-size: 16px;
    font-family: 'montserratlight'; 
}

.sort-item-filter {
    display: block;
    overflow: hidden;
}

.filter-by {
    display: inline-block;
    margin-left: 50px;
}

.filter-by:first-child {
    margin-left: 0px;
}

.filter-by h4 {
    color: #282828;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    margin-right: 10px;    
    margin-top: 5px;
    margin-bottom: 5px;
}

.filter-by > form {
    cursor: pointer;
    float: right;
}

.filter-by select {
    border: 1px solid #444;
    font-size: 14px;
    color: #444;
    cursor: pointer;
    padding: 0px 5px;
    -moz-appearance:button;
}

.search-box {
    display: inline-block;
    float: right;
}

.search-box img{
    margin-top:3px;
}

.search-box form {
    border: 1px solid #cccccc;
    float: right;
    height: 32px;
    margin-left: 15px;
    position: relative;
    width: 212px;
}

.search-box form > input {
    border: medium none;
}
.search-box input[type="text"] {
    color: #282828;
    font-family: "montserratsemi_bold";
    font-size: 16px;
    line-height: 28px;
    padding-left: 15px;
    width: 100%;
}

.tab-content.row {
    margin-left: -10px;
    margin-right: -10px;
}

.single-left-widget{
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 6px;
    margin-bottom: 38px;
}

.single-left-widget:last-child{
    margin-bottom: 0px;
}
.single-left-widget .section-title h4{
    font-size: 15px;
    font-family: 'montserratsemi_bold';
    display: block;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.single-left-widget .section-title ul li{
    padding-bottom: 15px;
}

#description > p, #specification > p, #review > p, .tab-caroursel-twenty .tab-content p, .tab-content ul li {
    color: #666666;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.single-product-info {
    margin: 10px 0;

}

.single-product-info h3 {
    color: #282828;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
}

.single-product-info .pro-price {
    float: right;
    margin-top: 2px;
}

.single-product-info .pro-price span.new-price {
    color: #EC552C;
    font-family: "montserratsemi_bold";
    font-size: 15px;
    margin-bottom: 5px;
}

.task-list .single-product-info p{
    color: #444;
    display: inline-block;
    font-family: "montserratlight";
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 24px;
}

.time-distance{
    position: relative;
}

.time-distance > span {
    float: left;
    color: #444;
    display: inline-block;
    font-family: "montserratlight";
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 18px;
    margin-right: 150px;
}

.page-menu ul {
    margin: 0;    
    padding: 0;
    list-style: none;
}

.page-menu ul li {
    color: #282828;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    line-height: 25px;
}
.page-menu ul li.li-page{
    margin-right: 10px;
}
.page-menu ul li.active a{
    color: #fff;
    background: #EC552C;
    border: 1px solid #EC552C;
}

.page-menu ul li a{
    color: #a6a6a6;
    font-family: 'montserratsemi_bold';
    border: 1px solid #A6A6A6;
    margin-right: 5px;
    height: 25px;
    width: 25px;
    display: block;
    text-align: center;
}

.page-menu ul li:last-child a{
    margin-right: 0px;
}

.aui-info {
    position: relative;
}

.fileInput{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            display: block;
            width: 3.5rem;
            clear: both;
            display: block;
            margin: auto;
            background-color: red;
}

.active{
    color: #ec552c;
}


.tab-menu ul {
    display: inline-block;
    list-style: outside none none;
    text-align: center;
}

.tab-menu ul li {
    float: left;
    margin-right: 18px;
    width: 200px;
}
.section-tab-menu.tab-menu ul li a {
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 2;
}
.tab-menu ul li:hover {
    background: #ED542B;
    border: 1px solid #ED542B;
}

.tab-menu.section-tab-menu ul li:hover, .tab-menu.section-tab-menu ul li.active {
    background: #ED542B none repeat scroll 0 0;
    border: 1px solid #ED542B;
}

.section-tab-menu ul li {
    border: 1px solid #a6a6a6;
    margin-right: 25px;
    width: 210px;
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.text-uppercase {
   font-size: 11px;
   color: #ec552c;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

.form-group.col-xs-12 > label {
    font-size: 14px;
    color: #282828;
    font-family: 'montserratlight';
}
.form-group.col-xs-12 > label span {
    font-size: 18px;
    color: #EC552C;
    margin-left: 3px;
}

.form-group > label {
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 25px;
}

textarea {
    width: 100%;
    border: 1px solid #EBEBEB;
    padding: 5px 12px;
    height: 130px !important;
}

.top-content{
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

.top-content .text {
	padding-top: 120px;
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }
.form-top {
	overflow: hidden;
	padding: 0 25px 0 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.rate{
    width: 460px;
    background: #fff;
    margin: auto;
    border-radius: 5px;
}
.content{
    width: 100%;
    height: 72px;
}
.stars{
    width: 50%;
    list-style: none;
    margin: 0;
    line-height: 67px;
    color: #ccc;
    float: left;
}
.stars span{
    font-size: 30px;
    margin-left: 10px;
}
.stars span:after{
    content: '☆';
}
.stars .show:after,.stars .show2:after{
    content: '★';
}
.info{
    float: left;
    width: 60px;
    height: 30px;
    background: #e15671;
    border-radius: 5px;
    color: #fff;
    margin-top: 21px;
    text-align: center;
    line-height: 30px;
    display: none;
}

.info2{
    float: left;
    width: 60px;
    height: 30px;
    background: #e15671;
    border-radius: 5px;
    color: #fff;
    margin-top: 21px;
    text-align: center;
    line-height: 30px;
}

.stars2{
    width: 50%;
    list-style: none;
    margin: 0;
    line-height: 67px;
    color: #ccc;
    float: left;
}
.stars2 span{
    font-size: 30px;
    margin-left: 10px;
}
.stars2 span:after{
    content: '☆';
}
.stars2 .show:after,.stars2 .show2:after{
    content: '★';
}

.show2{
    color: #e15671; 
}